[Unit]
Description=Daemon for graftcp-local
After=network.target

Requires=vless-proxy.service
After=vless-proxy.service

[Service]
Type=exec
ExecStart=/usr/bin/fish -l -c 'exec graftcp-local'
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
