[Desktop Entry]
Type=Application
Version=1.0
Name=ktalk
Comment=ktalkstartup script
Exec=/tmp/.mount_толNE8LSj/ktalk --hidden
StartupNotify=false
Terminal=false